[submodule "contrib/poco"]
	path = contrib/poco
	url = https://hub.nuaa.cf/pingcap/poco.git
[submodule "contrib/zstd"]
	path = contrib/zstd
	url = https://hub.nuaa.cf/facebook/zstd.git
[submodule "contrib/lz4"]
	path = contrib/lz4
	url = https://hub.nuaa.cf/lz4/lz4.git
[submodule "contrib/cctz"]
	path = contrib/cctz
	url = https://hub.nuaa.cf/google/cctz.git
[submodule "contrib/googletest"]
	path = contrib/googletest
	url = https://hub.nuaa.cf/google/googletest.git
[submodule "contrib/double-conversion"]
	path = contrib/double-conversion
	url = https://hub.nuaa.cf/google/double-conversion.git
[submodule "contrib/re2"]
	path = contrib/re2
	url = https://hub.nuaa.cf/google/re2.git
[submodule "contrib/boost"]
	path = contrib/boost
	url = https://hub.nuaa.cf/pingcap/boost-extra.git
[submodule "contrib/kvproto"]
	path = contrib/kvproto
	url = https://hub.nuaa.cf/pingcap/kvproto.git
[submodule "contrib/tipb"]
	path = contrib/tipb
	url = https://hub.nuaa.cf/pingcap/tipb.git
	branch = master
[submodule "contrib/client-c"]
	path = contrib/client-c
	url = https://hub.nuaa.cf/tikv/client-c.git
[submodule "contrib/tiflash-proxy"]
	path = contrib/tiflash-proxy
	url = https://hub.nuaa.cf/pingcap/tidb-engine-ext.git
[submodule "contrib/prometheus-cpp"]
	path = contrib/prometheus-cpp
	url = https://hub.nuaa.cf/jupp0r/prometheus-cpp.git
[submodule "contrib/junction"]
	path = contrib/junction
	url = https://hub.nuaa.cf/preshing/junction.git
[submodule "contrib/jemalloc"]
	path = contrib/jemalloc
	url = https://hub.nuaa.cf/jemalloc/jemalloc.git
[submodule "contrib/mimalloc"]
	path = contrib/mimalloc
	url = https://hub.nuaa.cf/microsoft/mimalloc
[submodule "contrib/libunwind"]
	path = contrib/libunwind
	url = https://hub.nuaa.cf/libunwind/libunwind
[submodule "contrib/fmtlib"]
	path = contrib/fmtlib
	url = https://hub.nuaa.cf/fmtlib/fmt.git
[submodule "contrib/xxHash"]
	path = contrib/xxHash
	url = https://hub.nuaa.cf/Cyan4973/xxHash
[submodule "contrib/benchmark"]
	path = contrib/benchmark
	url = https://hub.nuaa.cf/google/benchmark
[submodule "contrib/protobuf"]
	path = contrib/protobuf
	url = https://hub.nuaa.cf/protocolbuffers/protobuf
[submodule "contrib/abseil-cpp"]
	path = contrib/abseil-cpp
	url = https://hub.nuaa.cf/abseil/abseil-cpp
[submodule "contrib/grpc"]
	path = contrib/grpc
	url = https://hub.nuaa.cf/grpc/grpc
[submodule "contrib/boringssl"]
	path = contrib/boringssl
	url = https://hub.nuaa.cf/google/boringssl
[submodule "contrib/curl"]
	path = contrib/curl
	url = https://hub.nuaa.cf/curl/curl
[submodule "contrib/zlib-ng"]
	path = contrib/zlib-ng
	url = https://hub.nuaa.cf/zlib-ng/zlib-ng
[submodule "contrib/cpu_features"]
	path = contrib/cpu_features
	url = https://hub.nuaa.cf/google/cpu_features
[submodule "contrib/arm-optimized-routines"]
	path = contrib/arm-optimized-routines
	url = https://hub.nuaa.cf/ARM-software/optimized-routines
[submodule "contrib/magic_enum"]
	path = contrib/magic_enum
	url = https://hub.nuaa.cf/Neargye/magic_enum.git
